button {
  position: relative;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 0.5rem;
  background: transparent;
  cursor: pointer;
}

button::before {
  content: '';
  position: absolute;
  display: block;
  inset-block-start: 0;
  inset-inline-start: 0;
  box-sizing: border-box;
  inline-size: 100%;
  block-size: 100%;
}

button:hover::before {
  border: 3px solid black;
}

button:active {
  background: black;
  color: white;
}
