input[type=checkbox][role=switch] {
	appearance: none;
	position: relative;
	vertical-align: text-bottom;
	display: inline-block;
	box-sizing: border-box;
	block-size: 1rem;
	inline-size: 2rem;
	border: 1px solid black;
	background: transparent;
}

input[type=checkbox][role=switch]::before {
	content: '';
	display: block;
	box-sizing: border-box;
	margin-block-start: calc(0.25rem - 1px);
	margin-inline-start: calc(0.25rem - 1px);
	block-size: 0.5rem;
	inline-size: 0.5rem;
	outline: 1px solid black;
	background: transparent;
}

input[type=checkbox][role=switch]:checked::before {
	background: black;
	margin-inline-start: calc(2rem - 0.5rem - 0.25rem - 1px);
}
