nav[aria-label=Breadcrumb] ol {
	display: flex;
	padding: 0;
	gap: 1.5rem;
}

nav[aria-label=Breadcrumb] li {
	list-style-type: none;
	padding-inline-start: 1rem;
}

nav[aria-label=Breadcrumb] li::marker {
	content: '/';
}

nav[aria-label=Breadcrumb] li a[aria-current=page]::before {
	content: '';
	position: absolute;
	display: block;
	block-size: 1rem;
	background: black;
}