:root {
	line-height: 2rem;
}

body {
	/* font-family: 'Courier New', Courier, monospace; */
	font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
	line-height: 2rem;
	margin-top: -0.5rem;
	margin-bottom: 0.5rem;
	outline: 1px solid #343434;
}

h1 {
	line-height: 2rem;
	margin-block-start: -0.25rem;
	margin-block-end: 0.25rem;
}

h2 {
	line-height: 2rem;
	margin-block-start: -0.5rem;
	margin-block-end: 0.5rem;
}

h3 {
	line-height: 2rem;
	margin-block-start: -0.5rem;
	margin-block-end: 0.5rem;
}

h4 {
	line-height: 2rem;
	margin-top: -0.5rem;
	margin-bottom: 0.5rem;
}

h5 {
	line-height: 2rem;
	margin-top: -0.6rem;
	margin-bottom: 0.6rem;
}

h6 {
	line-height: 2rem;
	margin-top: -0.7rem;
	margin-bottom: 0.7rem;
}

input {
	line-height: 1rem;
	margin-top: -0.5rem;
	margin-bottom: 0.5rem;
}
