:root {
	/* line-height: 2rem; */
}

body {
	/* font-family: 'Courier New', Courier, monospace; */
	font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
	line-height: 2rem;
	font-size: 1rem;
	margin-block-start: calc((2rem - 1cap) * 0.5);
	margin-block-end: calc((2rem - 1cap) * -0.5);
}

h1 {
	line-height: 4rem;
	font-size: 4rem;
	margin-block-start: calc((4rem - 1cap) * 0.5);
	margin-block-end: calc((4rem - 1cap) * -0.5);
}

h2 {
	line-height: 4rem;
	font-size: 3rem;
	margin-block-start: calc((4rem - 1cap) * 0.5);
	margin-block-end: calc((4rem - 1cap) * -0.5);
}

h3 {
	line-height: 4rem;
	font-size: 2.5rem;
	margin-block-start: calc((4rem - 1cap) * 0.5);
	margin-block-end: calc((4rem - 1cap) * -0.5);
}

h4 {
	line-height: 2rem;
	margin-block-start: calc((2rem - 1cap) * 0.5);
	margin-block-end: calc((2rem - 1cap) * -0.5);
}

h5 {
	line-height: 2rem;
	margin-block-start: calc((2rem - 1cap) * 0.5);
	margin-block-end: calc((2rem - 1cap) * -0.5);
}

h6 {
	line-height: 2rem;
	margin-block-start: calc((2rem - 1cap) * 0.5);
	margin-block-end: calc((2rem - 1cap) * -0.5);
}


/* places for fonts and line heights */
input[type=text], input[type=password], input[type=email] {
	/* line-height: 2rem; */
	block-size: 2rem;
	font-size: 1rem;
	line-height: 2rem;
	/* padding-block-start: calc(1rem - 1cap); */
	overflow: visible;

	margin-block-start: calc((2rem - 1cap));
	margin-block-end: calc((1rem - 1cap) * -1);

	/* padding-block-start: calc(1rem - 1cap);
	padding-block-end: calc(1rem - 1cap); */

	/* padding-block-start: 1cap; */
	/* padding-block-end: calc(0.5cap - 2px); */

}

input[type=time], input[type=date] {
	block-size: 2rem;
	font-size: 1rem;
	margin-block-start: calc((1rem - 1cap));
	margin-block-end: calc( -1 * (1rem - 1cap));
	border: none;
}