button, input[type=button] {
	appearance: none;
	background: #efefef;
	border: 1px solid black;
	color: #000000;
	padding-inline: 1rem;
	padding-block: 0.25rem;
	border-radius: 4px;
}

button:not([disabled]):active, input[type=button]:not([disabled]):active {
	background-color: rgb(29, 29, 29);
	color: white;
}

button:focus, input[type=button]:focus {
	outline: 2px solid #676767;
	outline-offset: 6px;
	background-color: #efefef;
}

button:disabled, input[type=button]:disabled {
	border: 1px solid lightgray;
	color: lightgray;
	cursor: not-allowed;
}

/* submit button */
button[type=reset], input[type=reset] {
	background: #787878;
	border: 1px solid black;
	color: white;
	padding-inline: 1rem;
	padding-block: 0.5rem;
	border-radius: 4px;
}

button[type=submit], input[type=submit] {
	background: #787878;
	border: 1px solid black;
	color: white;
	padding-inline: 1rem;
	padding-block: 0.5rem;
	border-radius: 4px;
}
