input[type=checkbox] {
	appearance: none;
	background-color: var(--interactable-0);
	inline-size: 1.25rem;
	block-size: 1.25rem;
	border: 1px solid black;
	border-radius: var(--border-radius);

	cursor: pointer;
}

input[type=checkbox]:disabled {
	cursor: not-allowed;
}

input[type=checkbox]:active {
	background-color: black;
}

input[type=checkbox]:checked {
	background-color: darkgray;
}