:root {
	/* Typography */
	--line-height: 2rem;
	--font-family: Arial, Helvetica, sans-serif;
	/* --input-font-family: Georgia, 'Times New Roman', Times, serif;  */
	--input-font-family: Arial, Helvetica, sans-serif; 

	/* Interactivity Affordances */
	--interactable-0: #f9f9f9; /* initial 'resting' state*/
	--interactable-1: #f5f5f5; /* hover state */
	--interactable-2: #dfdfdf; /* focus state */
	--interactable-3: #a8a8a8; /* pressed state */
	--interactable-4: #787878; /* checked state */
	--border-radius: 2px;
}
