:root {
	line-height: 2rem;
}

body {
	background: repeating-linear-gradient(
		white,
		white calc(1rem - 1px),
		#efefef calc(1rem - 1px),
		#efefef 1rem
	  );
	
	/* font-family: 'Courier New', Courier, monospace; */
	font-family: Georgia, 'Times New Roman', Times, serif;
}


/* p {
	margin-block-start: 0.5rem;
	padding-block-end: 0.5rem;
}

h1 {
	margin-block-start: 1.25rem;
	padding-block-end: 0.75rem;
}

h2 {
	margin-block-start: 0.5rem;
	padding-block-end: 1rem;
} */

/* p {
	margin-block-start: 0.5rem;
	padding-block-end: 0.5rem;
	margin-block-start: -0.5rem;
	margin-block-end: -0.5rem;
}

h1 {
	margin-block-start: -0.75rem;
	margin-block-end: -0.25rem;
	padding-block-end: 0.75rem;
}

h2 {
	margin-block-start: 0.5rem;
	padding-block-end: 1rem;
} */

p {
	line-height: 2rem;
	margin-top: 0.5rem;
	margin-bottom: -0.5rem;
}

h1 {
	line-height: 2rem;
	margin-block-start: 0.25rem;
	margin-block-end: -0.25rem;
}

h2 {
	line-height: 2rem;
	margin-block-start: 0.5rem;
	margin-block-end: -0.5rem;
}

h3 {
	line-height: 2rem;
	margin-block-start: 0.5rem;
	margin-block-end: -0.5rem;
}

h4 {
	line-height: 2rem;
	margin-top: 0.5rem;
	margin-bottom: -0.5rem;
}

h5 {
	line-height: 2rem;
	margin-block-start: 0.7rem;
	margin-block-end: -0.7rem;
}

h6 {
	line-height: 2rem;
	margin-block-start: 0.75rem;
	/* margin-block-end: -1rem; */
}

input {
	line-height: 1rem;
	margin-top: 0.5rem;
	margin-bottom: -0.5rem;
}