:root {
	color-scheme: light dark;

	/* debug */
	--baseline-grid-color: light-dark(#a8a8a8, #f5f5f5);

	/* Root */
	--transition-time: 30ms;
	--background-color: light-dark(#f9f9f9, #17181A);

	/* Typography */
	--line-height: 2rem;
	--font-size-h6: 4rem;
	--font-family: Arial, Helvetica, sans-serif;
	--color: light-dark(black, white);
	--selection-bg-color: light-dark(cornflowerblue, cornflowerblue);
	--selection-color: light-dark(white, black);

	--font-size: 1rem;
	--font-size-h6: 1rem;
	--font-size-h5: 1.25rem;
	--font-size-h4: 1.75rem;
	--font-size-h3: 2.25rem;
	--font-size-h2: 3rem;
	--font-size-h1: 4rem;

	/* baseline grid */
	--line-height-baseline-2x: calc(var(--line-height) * 2);

	--font-family:  Arial, Helvetica, sans-serif;
	--font-family-headers:  Arial, Helvetica, sans-serif;
	--font-family-input-text:  Arial, Helvetica, sans-serif;
	--font-family-input-numbers:  Arial, Helvetica, sans-serif;

	/* Grids */
	--gap: 1rem;

	/* Articles */
	--max-char-width: 64ch;

	/* Interactivity Affordances */
	--action_bg-0: #f9f9f9; /* initial 'resting' state*/
	--action_bg-1: #f5f5f5; /* hover state */
	--action_bg-2: #dfdfdf; /* focus state */
	--action_bg-3: #a8a8a8; /* pressed state */
	--action_bg-4: #787878; /* checked state */
	
	--border: 1px solid light-dark(black, white);
	
	/* Buttons */
	--button_border: 1px solid light-dark(black, white);
	--button_border-radius: 0px;
	--button_font-weight: 700;

	/* Text inputs */
	--text-input-border: 1px solid light-dark(#dfdfdf, #787878);
	--text-input_border-bottom: 1px solid light-dark(black, white);

	/* Focus */
	--outline: 4px solid cornflowerblue;
}
