/* Georgia, "Times New Roman", "Times", serif */

:root {
	color-scheme: light dark;

	/* debug */
	/* --baseline-grid-color: light-dark(#a8a8a8, #f5f5f5); */

	/* Root */
	--bg: light-dark(#f9f9f9, #17181A);
	--transition-time: 30ms;
	--line-height: 2rem;

	/* Typography */
	--font: 400 1rem/var(--line-height)  Arial, Helvetica, sans-serif;
	--color: light-dark(black, white);

	/* Headers */
	--h1_font: 700 4rem/4rem Arial, Helvetica, sans-serif;
	--h2_font: 700 3rem/3rem Arial, Helvetica, sans-serif;
	--h3_font: 700 2.25rem/2.25rem Arial, Helvetica, sans-serif;
	--h4_font: 700 1.75rem/1.75rem Arial, Helvetica, sans-serif;
	--h5_font: 700 1.25rem/1.25rem Arial, Helvetica, sans-serif;
	--h6_font: 700 1rem/1rem Arial, Helvetica, sans-serif;
	--h1_color: light-dark(#3e3e3e, lightblue);
	--h2_color: light-dark(#3e3e3e, lightblue);
	--h3_color: light-dark(#3e3e3e, lightblue);
	--h4_color: light-dark(#3e3e3e, lightblue);
	--h5_color: light-dark(#3e3e3e, lightblue);
	--h6_color: light-dark(#3e3e3e, lightblue);
	/* -webkit-text-stroke */
	/* text-shadow */

	/* Selection */
	--selection_bg-color: light-dark(cornflowerblue, cornflowerblue);
	--selection_color: light-dark(white, black);

	/* Buttons */
	--button_font: 700 1rem/var(--line-height) Arial, Helvetica, sans-serif;
	--button_bg: transparent;
	--button_border: 1px solid light-dark(black, white);
	--button_border-radius: 0px;
	/* button elevation? */

	/* Text inputs */
	--text-input_font: 400 1rem/var(--line-height) Arial, Helvetica, sans-serif;
	--text-input_bg: transparent;
	--text-input_border: 1px solid light-dark(#dfdfdf, #787878);
	--text-input_border-bottom: 1px solid light-dark(black, white);

	/* Number inputs */
	--number-input_font: 400 1rem/var(--line-height) Arial, Helvetica, sans-serif;
	--number-input_bg: transparent;
	--number-input_border: 1px solid light-dark(#dfdfdf, #787878);
	--number-input_border-bottom: 1px solid light-dark(black, white);

	/* Select */
	--select_font: 400 1rem/var(--line-height) Arial, Helvetica, sans-serif;
	--select_bg: transparent;
	--select_border: 1px solid light-dark(black, white);

	/* Actions - Interactivity Affordances */
	--action_bg-0: #f9f9f9; /* initial 'resting' state*/
	--action_bg-1: #e5e5e5; /* hover state */
	--action_bg-2: #dfdfdf; /* focus state */
	--action_bg-3: #a8a8a8; /* pressed state */
	--action_bg-4: #787878; /* checked state */
	
	--border: 1px solid light-dark(black, white);
		/* Focus */
	--outline: 4px solid cornflowerblue;

	/* Baseline grid */
	--baseline_line-height-2x: calc(var(--baseline_line-height) * 2);
	--baseline_line-height-4x: calc(var(--baseline_line-height) * 4);
	
	/* Grids */
	--gap: 1rem;

	/* Articles */
	--max-char-width: 64ch;

}
