/* does css nesting provide a more concise sytnax for states? */
:is(button, input[type=button]) {
	appearance: none;
	background: var(--action_bg-1);
	font: var(--button_font);
	border: var(--button_border);
	cursor: pointer;

	&:hover {}
	&:focus {}
	&:active {}
	&:disabled {
		cursor: not-allowed;
	}
}


/* file selector button */

/* color */
