button, input[type=button] {
	appearance: none;
	background: none;
	background-color: var(--interactable-0);
	border: none;
	border: var(--border);
	color: #000000;
	padding-inline: 1rem;
	padding-block: 0.4rem;
	font-family: var(--input-font-family);
	font-size: 1rem;
	font-weight: 700;
	cursor: pointer;
	border-radius: var(--border-radius);
}

button:not([disabled]):active, input[type=button]:not([disabled]):active {
	background-color: rgb(29, 29, 29);
	color: white;
}

button:focus, input[type=button]:focus {
	background-color: #efefef;
}

button:disabled, input[type=button]:disabled {
	border: 2px solid lightgray;
	color: lightgray;
	cursor: not-allowed;
}

/* submit button */
button[type=reset], input[type=reset] {
	background: transparent;
	border: var(--border);
	padding-inline: 1rem;
	padding-block: 0.5rem;
	border-radius: var(--border-radius);
}

button[type=submit], input[type=submit], input::file-selector-button  {
	appearance: none;
	background: transparent;
	border: var(--border);
	font-size: 1rem;
	padding-inline: 1rem;
	letter-spacing: 0.025em;
	padding-block: 0.5rem;
	border-radius: var(--border-radius);
}

