input[type=checkbox] {
	appearance: none;
	inline-size: 1.25rem;
	block-size: 1.25rem;
	background-color: var(--action_bg-0);
	border: none;
	border: var(--button_border);
	cursor: pointer;
}

input[type=checkbox]:disabled {
	cursor: not-allowed;
}

input[type=checkbox]:active {
	background-color: black;
}

input[type=checkbox]:checked {
	background-color: darkgray;
}