:is(input[type=checkbox]) {
	appearance: none;
	inline-size: 1.25rem;
	block-size: 1.25rem;
	background-color: var(--action_bg-0);
	border: none;
	border: var(--button_border);
	cursor: pointer;

	&:hover {}
	&:focus {}
	&:active {}
	&:checked {
		background-color: darkgray;
	}
	&:disabled {
		cursor: not-allowed;
	}
}
