/* places for fonts and line heights */
input[type=color] {
	appearance: none;
	background-color: var(--action_bg-1);
	border: var(--button_border);
	cursor: pointer;

	&:hover {}
	&:focus {}
	&:active {}
	&:disabled {
		cursor: not-allowed;
	}
}
