input, button {
	background-color: transparent;
	border: 1px solid black;
	border-radius: 0.25 rem;
	cursor: pointer;
	padding: 0.5rem;
}

input:focus, button:focus {
	outline-offset: 4px;
	outline: 2px solid #0088FF;
}
