input[type=radio] {
	appearance: none;
	inline-size: 1.25rem;
	block-size: 1.25rem;
	border-radius: 50%;
	cursor: pointer;
	background-color: var(--action_bg-0);
	border: var(--button_border);

	&:hover {}
	&:focus {}
	&:active {}
	&:checked {
		background-color: darkgray;
	}
	&:disabled {
		cursor: not-allowed;
	}
}
