input[type=radio] {
	appearance: none;
	inline-size: 1.25rem;
	block-size: 1.25rem;
	border-radius: 50%;
	cursor: pointer;
	background-color: var(--action_bg-0);
	border: var(--button_border);
}

input[type=radio]:disabled {
	cursor: not-allowed;
}

input[type=radio]:checked {
	background-color: darkgray;
}
