input[type=radio] {
	appearance: none;
	inline-size: 1.25rem;
	/* background-color: var(--interactable-0); */
	block-size: 1.25rem;
	border: var(--border);
	border-radius: 50%;
	cursor: pointer;
}

input[type=radio]:disabled {
	cursor: not-allowed;
}

input[type=radio]:checked {
	background-color: darkgray;
}