input[role=switch] {
	appearance: none;
	inline-size: 3.5rem;
	block-size: 1.25rem;
	line-height: 1rem;
	cursor: pointer;
	background-color: var(--action_bg-0);
	border: var(--button_border);

	&:hover {}
	&:focus {}
	&:active {}
	&:checked {
		background-color: darkgray;
	}
	&:disabled {
		cursor: not-allowed;
	}
}

input[role=switch]:checked {
	background-color: darkgray;
}

