/* places for fonts and line heights */
:is(input[type=text], input[type=password], input[type=email], input[type=url]) {
	appearance: none;
	background: var(--text-input_bg);
	font: var(--text-input_font);
	border: var(--text-input_border);
	border-bottom: var(--text-input_border-bottom);

	&:hover {}
	&:focus {}
	&:active {}
	&:disabled {}
}
