textarea {
	appearance: none;
	background-color: var(--action_bg-0);
	border: var(--button_border);
	font-family: var(--input-font-family);
	font-size: 1rem;
	padding: 0.5rem;
	color: var(--color);
	border-radius: var(--button_border-radius);
}
