:root {
	line-height: var(--line-height);
	font-family: var(--font-family);
	letter-spacing: var(--letter-spacing);
	color: var(--color);
}

body {
	background-color: var(--background-color);
}

p {
	font-size: var(--font-size);
	max-inline-size: 80ch;
}

h1 {
	line-height: var(--font-size-h1);
	font-size: var(--font-size-h1);
	font-weight: 700;
}

h2 {
	line-height: var(--font-size-h2);
	font-size: var(--font-size-h2);
	font-weight: 700;
}

h3 {
	line-height: var(--font-size-h3);
	font-size: var(--font-size-h3);
	font-weight: 700;
}

h4 {
	line-height: var(--font-size-h4);
	font-size: var(--font-size-h4);
	font-weight: 700;

}

h5 {
	line-height: var(--font-size-h5);
	font-size: var(--font-size-h5);
	font-weight: 700;
}

h6 {
	line-height: var(--font-size-h6);
	font-size: var(--font-size-h6);
	font-weight: 700;
}

::selection {
	background-color: var(--selection-bg-color);
	color: var(--selection-color);
}
